:root {
  --dot-size: 0.5rem
}

.fruit-list {
    list-style: hebrew;
}

.fruit-list > li {
    margin-top: 15px;
}

.dot {
  height: var(--dot-size);
  width: var(--dot-size);
  border-radius: 50%;
  display: inline-block;
}

.color-python {
  background-color: #3572a5;
}

.color-clojure {
  background-color: #db5855;
}

.color-ocaml {
  background-color: #3be133;
}

.color-elisp {
  background-color: #c065db;
}
