@import "borders.css";
@import "banners.css";
@import "fruits.css";

:root {
  --headline-color: #0066cc;
  --banner-height: 130px;
}

html {
  background-color: #daf3fd;
  word-break: break-word;

  /* for mobile */
  padding-right: 14px;
  padding-left: 14px;

  /* beacuse firefox mobile acted up; interface was really small there */
  font-size: 2vh;
  font-size-adjust: none;
}

body {
  background-color: #ffffff;
  margin: 0 auto;
  font-family: segoe ui, verdana, arial, sans-serif;
}

a {
  color: var(--headline-color);
  text-decoration: none;
}

h1 {
  margin-block-start: 0.5rem;
  color: #22436c;
}

#banner-top > h1 {
  margin-inline-start: 1rem;
}

#index > h1 {
  margin-inline-start: 3rem;
}

#content {
  background: #ffffff;
  padding: 2rem;
}

#content > h2 {
  margin-block-start: 0;
  color: #22436c;
  font-weight: normal;
}

#post-list {
  list-style-type: none;
  padding-inline-start: 0;
}

#post-list > li {
  padding-bottom: 3rem;
}

#index {
  position: relative;
}

#menu > ul {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.entry-title {
  margin-block-start: 0;
}

.entry-content img {
  width: 100%;
}

/* hide author info and category info and post previews at index */
#post-list .entry-content, .author, .category {
  display: none;
}

.org-src-container {
  overflow-x: scroll;
}

blockquote {
  display: block;
  font-style: italic;
  padding: 1rem;
  background: #3498db14;
  margin: 0;
  border-left: 2px solid #3498db;
}

.cautious {
  display: block;
  padding: 1rem;
  background: #ffcccd;
  margin: 0;
  border-left: 2px solid #d41c1d;
}

.walked-inland {
  text-transform: uppercase;
  gap: 10px;
  display: flex;
  flex-direction: column;
}

.index {
  padding: 0 3rem;
}

.wide-image {
  width: 100%;
  object-fit: contain;
}

@media (min-width: 1000px) {
  body {
    max-width: 50rem;
  }
}
