@import "borders.css";
@import "fruits.css";

:root {
  --headline-color: #0066cc;
  --banner-height: 130px;
}

html {
  background-color: #daf3fd;
  word-break: break-word;
}

body {
  background-color: #ffffff;
  margin: 0 auto;
  font-family: segoe ui, verdana, arial, sans-serif;
}

a {
  color: var(--headline-color);
  text-decoration: none;
}

h1 {
  color: #22436c;
  word-break: normal;
}

#content {
  background: #ffffff;
}

#content > h2 {
  color: #22436c;
  font-weight: normal;
}

#post-list {
  list-style-type: none;
}

#menu {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.index, #menu, #content, #banner-top-top-socials {
  padding: 0 2rem;
}

.entry-content img {
  width: 100%;
}

/* hide author info and category info and post previews at index */
#post-list .entry-content, .author, .category {
  display: none;
}

.org-src-container {
  overflow-x: scroll;
}

blockquote {
  display: block;
  font-style: italic;
  padding: 1rem;
  background: #3498db14;
  margin: 0;
  border-left: 2px solid #3498db;
}

.cautious {
  display: block;
  padding: 1rem;
  background: #ffcccd;
  margin: 0;
  border-left: 2px solid #d41c1d;
}

.walked-inland {
  text-transform: uppercase;
  gap: 1.2rem;
  display: flex;
  flex-direction: column;
}

.wide-image {
  width: 100%;
  object-fit: contain;
}

.socials-sep {
  margin: 0 0.2rem;
}

/* pygments code blocks */
.highlight {
  overflow-y: scroll;
}

#banner-top {
  background: url("/theme/images/top.png") no-repeat center,
    url("/theme/images/top-grad.png") repeat-x scroll;
  background-position-y: 0;
  display: flex;
  align-items: baseline;
  flex-direction: column;
}

#banner-bottom {
  background: url("/theme/images/bottom.png") no-repeat center,
    url("/theme/images/bottom-grad.png") repeat-x scroll;
  height: var(--banner-height);
}

#banner-top-top {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
}

#banner-top-top-socials {
  display: flex;
  flex-direction: row;
  font-size: 0.8rem;
  flex-wrap: wrap;
  margin-bottom: 1.35rem;
}

#me {
  background: url("/static/me.webp");
  height: 300px;
  margin-bottom: 1rem;
}

#logo-and-title {
  display: flex;
  gap: 0.5rem;
  margin-inline-start: 2rem;
}

/* rules for computer screens */
@media (min-width: 1000px) {
  body {
    max-width: 50rem;
  }

  #banner-top {
    height: var(--banner-height);
  }

  #banner-top-top {
    flex-direction: row;
  }

  #banner-top-top-socials {
    padding-top: 1rem;
  }
}
